.twenty-four-clock {
    display: flex;
    flex-wrap: wrap;
}
.dome-1 {
    background-color: pink;
}
.dome-2 {
    background-color: pink;
}
.dome-3 {
    background-color: pink;
}
#clock {
    background: url(./images/all-day.jpg) no-repeat;
    background-size: 100% 100%;
    width: 600px;
    height: 600px;
    position: relative;
}

#clock_2 {
    background: url(./images/24小时制时钟-1.png) no-repeat;
    background-size: 100% 100%;
    width: 600px;
    height: 600px;
    position: relative;
}
#clock_3 {
    background: url(./images/24小时制时钟-2.png) no-repeat;
    background-size: 100% 100%;
    width: 600px;
    height: 600px;
    position: relative;
}
.hour {
    background: url(./images/hour.png);
    width: 15px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}
.minute {
    background: url(./images/minute.png);
    width: 15px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}
.second {
    background: url(./images/second.png);
    width: 30px;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-left: -15px;
}